.Header {
}

.Header-nav {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
}

.Header-nav-item {
  padding: 5px 20px;
  letter-spacing: .2em;
  font-size: .8em;
  opacity: .6;;
}